.menu-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100px;
}
.menu-picker input,
button {
  width: 80%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.menu-picker input {
  display: block;
  margin-right: 2px;
  padding: 8px;
  font-weight: bold;
  background-color: #cecbcb;

  -webkit-appearance: none;
   -moz-appearance: textfield;
}

.menu-picker button {
  padding: 10px;
  background-color: transparent;
  color: #b4b4b4;
}
