@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Typography */

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #292929;
}

body p {
  font-size: 1rem;
  color: #b4b4b4;
}

.container {
  margin: 0 15px;
}

main {
  overflow-y: auto;
}

.app-header {
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
}

.restaurant-title {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.restaurant-description {
  font-family: "Raleway", sans-serif;
  color: #b4b4b4;
  font-size: 1rem;
}

.categories-carousel {
  display: flex;
  padding: 20px;
  overflow-x: auto;
}

.categories-carousel > * {
  margin-right: 20px;
}

.category-card {
  padding: 15px;
  width: 100px;
  white-space: nowrap;
  background-color: transparent;
  color: #c1c1c1;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category-card img {
  display: block;
  margin: 0 auto;
}

.category-card p {
  margin: auto;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  color: #292929;
  font-size: 0.8rem;
}

.restaurant-menu {
  overflow-y: scroll;
  margin-bottom: 60px;
}
.item-card {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: 160px;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item-card .item-photo-wrapper {
  grid-area: 1/1;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.item-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-details {
  width: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.item-details > * {
  margin: 0 0 10px 0;
}

.item-price {
  color: #ff6900;
}

.item-options {
  color: #b3b1b1;
  white-space: nowrap;
  overflow: hidden;
}

.item-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100px;
}

.item-picker input {
  width: 80%;
  border: none;
  border-radius: 5px;
}

.item-picker button {
  width: 80%;
  border: none;
  border-radius: 5px;
}

.item-picker p {
  display: block;
  margin-right: 2px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #cecbcb;
  /* -webkit-appearance: none;
   -moz-appearance: textfield; */
}

.item-picker button {
  padding: 10px;
  background-color: transparent;
  color: #b4b4b4;
}

.button-basket {
  position: absolute;
  bottom: 34px;
  left: 44%;
  z-index: 1;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #ff6900;
  box-shadow: 5px 6px 10px #757575;
  border: none;
}

.basket {
  padding-top: 20px;
}

.basket-order {
  padding: 10px;
  border-radius: 10px;
  background-color: #ff6900;
  box-shadow: 0px -8px 12px rgb(185 185 185 / 75%);
}

.basket-hidden {
  position: absolute;
}

.basket-order ul {
  margin: 0;
  list-style: none;
}
.order-details {
  display: flex;
  justify-content: space-between;
}

.order-details p {
  color: white;
}

.order-total p {
  font-weight: bolder;
}

.order-button {
  width: 70%;
  margin: 0 15%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #fafafa;
  color: #292929;
}

.button-basket ion-icon {
  color: #fafafa;
  margin: 0 auto;
  width: 2em;
  height: 2em;
}

.footer {
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px -8px 12px rgb(185 185 185 / 75%);
}

.button-icon {
  background-color: transparent;
  color: #c1c1c1;
  border: none;
}
.button-icon:active {
  color: #ff6900;
}

.button-icon ion-icon {
  width: 2em;
  height: 2em;
}
