<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <article class="item-card">
      <div class="item-photo-wrapper">
        <img class="item-photo" src="../../atoms/item-photo/photo.jpg" alt="" />
      </div>

      <div class="item-details">
        <h3 class="item-price">30.00€</h3>
        <h3 class="item-title">Lorem Ipsum Lorem</h3>
        <p class="item-options">Lorem Ipsum Lorem</p>
        <div class="item-picker">
          <button>-</button>
          <p>0</p>
          <button>+</button>
        </div>
      </div>
    </article>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </body>
</html>
