.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.footer .button-icon {
    background-color: transparent;
    color: #c1c1c1;
    border: none;
    

}

.footer .button-icon ion-icon {
    width: 2em;
    height: 2em;
}