<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="app-header">
      <h1>Food House</h1>
    </header>
    <main>
      <header class="restaurant-header">
        <h2 class="restaurant-title">Food For Home</h2>
        <h3 class="restaurant-description">Food that taste like home</h3>
      </header>
      <button class="button-basket">
        <ion-icon name="bag-outline"></ion-icon>
      </button>
      <section class="categories-carousel">
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
        <article class="category-card">
          <img src="../../atoms/category-card/icon.png" alt="" />
          <p>Category Name</p>
        </article>
      </section>
      <section class="restaurant-menu">
        <article class="item-card">
          <img
            class="item-photo"
            src="../../atoms/item-photo/photo.jpg"
            alt=""
          />
          <div class="item-details">
            <h3 class="item-price">30.00€</h3>
            <h3 class="item-title">Lorem Ipsum Lorem</h3>
            <p class="item-options">Lorem Ipsum Lorem</p>
            <div class="item-picker">
              <button>-</button>
              <input type="number" value="12" />
              <button>+</button>
            </div>
          </div>
        </article>
        <article class="item-card">
          <img
            class="item-photo"
            src="../../atoms/item-photo/photo.jpg"
            alt=""
          />
          <div class="item-details">
            <h3 class="item-price">30.00€</h3>
            <h3 class="item-title">Lorem Ipsum Lorem</h3>
            <p class="item-options">Lorem Ipsum Lorem</p>
            <div class="item-picker">
              <button>-</button>
              <input type="number" value="12" />
              <button>+</button>
            </div>
          </div>
        </article>
        <article class="item-card">
          <img
            class="item-photo"
            src="../../atoms/item-photo/photo.jpg"
            alt=""
          />
          <div class="item-details">
            <h3 class="item-price">30.00€</h3>
            <h3 class="item-title">Lorem Ipsum Lorem</h3>
            <p class="item-options">Lorem Ipsum Lorem</p>
            <div class="item-picker">
              <button>-</button>
              <input type="number" value="12" />
              <button>+</button>
            </div>
          </div>
        </article>
        <article class="item-card">
          <img
            class="item-photo"
            src="../../atoms/item-photo/photo.jpg"
            alt=""
          />
          <div class="item-details">
            <h3 class="item-price">30.00€</h3>
            <h3 class="item-title">Lorem Ipsum Lorem</h3>
            <p class="item-options">Lorem Ipsum Lorem</p>
            <div class="item-picker">
              <button>-</button>
              <input type="number" value="12" />
              <button>+</button>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <button class="button-icon">
        <ion-icon name="home-outline"></ion-icon>
      </button>
      <button class="button-icon">
        <ion-icon name="mail-outline"></ion-icon>
      </button>
      <button class="button-icon">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
      <button class="button-icon">
        <ion-icon name="people-outline"></ion-icon>
      </button>
    </footer>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </body>
</html>
