main {
  overflow-y: auto;
  position: relative;
}

.app-header {
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
}

.restaurant-title {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.restaurant-description {
  font-family: "Raleway", sans-serif;
  color: #b4b4b4;
  font-size: 1rem;
}

.categories-carousel {
  display: flex;
  padding: 20px;
  overflow-x: auto;
}

.categories-carousel > * {
  margin-right: 20px;
}

.category-card {
  padding: 15px;
  width: 100px;
  white-space: nowrap;
  background-color: transparent;
  color: #c1c1c1;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category-card img {
  display: block;
  margin: 0 auto;
}

.category-card p {
  margin: auto;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  color: #292929;
  font-size: 0.8rem;
}

.item-card {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.item-card img:first-child {
  grid-area: 1/1;
}

.item-photo {
  border-radius: 20px;
  width: 100%;
}

.item-details {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.item-details > * {
  margin: 0 0 10px 0;
}

.item-price {
  color: #ff6900;
}

.item-options {
  color: #b3b1b1;
}

.item-picker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100px;
}

.item-picker input,
button {
  width: 80%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.item-picker input {
  display: block;
  margin-right: 2px;
  padding: 8px;
  font-weight: bold;
  background-color: #cecbcb;
  -webkit-appearance: none;
   -moz-appearance: textfield;
}

.item-picker button {
  padding: 10px;
  background-color: transparent;
  color: #b4b4b4;
}

.button-basket {
  position: absolute;
  bottom: 20px;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #ff6900;
  box-shadow: 5px 6px 10px #757575;
  color: #fafafa;
  border: none;
}

.button-basket ion-icon {
  margin: 0 auto;
  width: 2em;
  height: 2em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px -8px 12px rgb(185 185 185 / 75%);
}

.footer .button-icon {
  background-color: transparent;
  color: #c1c1c1;
  border: none;
}
.footer .button-icon:active {
  color: #ff6900;
}

.footer .button-icon ion-icon {
  width: 2em;
  height: 2em;
}
