.category-card {
    padding: 15px;
    width: 100px;
    white-space: nowrap;
    background-color: transparent;
    color: #c1c1c1;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .category-card img {
    display: block;
    margin: 0 auto;
  }
  
  .category-card p {
    margin: auto;
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
    color: #292929;
    font-size: 0.8rem;
  }