@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("../components/organisms/header/header.css");
@import url("../components/organisms/categories-carousel/categories.css");
@import url("../components/molecules/item-card/item-card.css");
@import url("../components/atoms/button-basket/button-basket.css");
@import url("../components/organisms/basket/basket.css");
@import url("../components/organisms/footer/footer.css");

html {
  box-sizing: border-box;
}

:root {
  --font-color: #b4b4b4;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Typography */

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #292929;
}

body p {
  font-size: 1rem;
  color: var(--font-color);
}

.container {
  margin: 0 15px;
}

main {
  overflow-y: auto;
}

.restaurant-menu {
  overflow-y: scroll;
  margin-bottom: 60px;
}
